.fade-in {
  transition: all 0.15s ease-in-out;
  opacity: 1;
  pointer-events: all;

  @starting-style {
    opacity: 0;
    display: hidden;
    transform: translateY(-10px);
    pointer-events: none;
  }
}

.fade-out {
  display: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.15s ease-in-out;
  pointer-events: none;
}