@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-primary: #0D0E0F;
  --bg-secondary: #1A1A1A;
  --bg-tertiary: #222222;
  --header-height: 96px;
  --view-height: calc(100vh - var(--header-height));
  --drawer-width: 500px;
  --clr-quantity: #464646;
  --scrollbar: 17px;
  --cart-padding: calc(var(--header-height) + 225px);
  --cart-view: calc(100vh - var(--cart-padding));
  --atc-width: calc(33.333% - 2rem);
}

@media (prefers-color-scheme: dark) {
  :root {}
}

.atc-w {
  width: var(--atc-width);
}

.is-modal {
  height: calc(100vh - 225px);
}

body {
  color: rgb(255, 254, 250);
  background: black;
}

body:has(dialog[open]) {
  overflow: hidden;
  padding-right: var(--scrollbar);
}


#herologo {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
    1px 1px 0 black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}