@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";


:root {
  --accent: #d2ac53;
  --bg-primary: #0D0E0F;
  --bg-secondary: #1A1A1A;
  --bg-tertiary: #222222;
  --sm-header-height: 130px;
  --mobile-header-height: 146px;
  --header-height: 96px;
  --hero-offset: 80px;
  --view-height: calc(100vh - var(--header-height));
  --sidebar-sm-height: calc(100vh - var(--sm-header-height));
  --mobile-drawer-height: calc(100vh - 250px);
  --drawer-width: 500px;
  --clr-quantity: #464646;
  --scrollbar: 10px;
  --view-width: calc(100vw - var(--scrollbar));
  --cart-padding: calc(var(--header-height) + 225px);
  --cart-view: calc(100vh - var(--cart-padding));
  --hero-height: calc(var(--view-height) + var(--hero-offset));
  --atc-width: calc(33.333% - 2rem);
  --main-sect-height: calc(var(--view-height) - 2rem);
  --stack-parent-height: calc(var(--view-height) - 4rem);
  --grid-img-height: calc(var(--main-sect-height) / 2);
  --mb-img-h: calc(50vh - 2rem);
  --mb-grid-img-h: calc(var(--mb-img-h) / 2);
  --mb-stack-img-h: calc(var(--mb-img-h) /4);
  --stack-img-height: calc(var(--stack-parent-height) / 4);
  --mb-img-width: calc(100% - 2rem);
}

@media (prefers-color-scheme: dark) {
  :root {}
}

.animate-slide {

  transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.atc-w {
  width: var(--atc-width);
}

.is-modal {
  height: calc(100vh - 225px);
}

body {
  color: rgb(255, 254, 250);
  background: black;
}

body:has(dialog[open]) {
  overflow: hidden;
  padding-right: var(--scrollbar);
}


#herologo {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
    1px 1px 0 black;
}

#com-text {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
    1px 1px 0 black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  background: var(--bg-secondary);
}

*::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
  border: 3px solid transparent;
}

.card-show {
  opacity: 1;
  transition: all 0.3s ease-in-out;

  @starting-style {
    opacity: 0;

  }
}

.card-hide {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}