@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 96px;
  --view-height: calc(100vh - var(--header-height));
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  color: rgb(255, 254, 250);
  background: black;
}


#herologo {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
    1px 1px 0 black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}