#hero-img {
  transform: translateX(0%);
  filter: blur(0px);
  transition-property: transform, filter;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  transition-duration: 1.2s;
  transition-delay: 0.4s;
  /* transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.4s; */

  @starting-style {
    transform: translateX(100%);
    filter: blur(6px);
  }
}

#hero-heading {
  transform: scale(1);
  opacity: 1;
  filter: blur(0px);
  transition-property: transform, opacity, filter;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  transition-duration: 1.2s;
  transition-delay: 0.4s;


  @starting-style {
    transform: scale(1.8);
    opacity: 0;
    filter: blur(2px);
  }
}

#hero-cta {
  transform: scale(1);
  opacity: 1;
  filter: blur(0px);
  transition-property: transform, opacity, filter;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  transition-duration: 1.2s;
  transition-delay: 0.4s;



  /* transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.4s; */

  @starting-style {
    transform: scale(1.8);
    opacity: 0;
    filter: blur(2px);
  }
}