#hero-img {
  transform: translateX(0%);
  transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.4s;
  filter: blur(0px);

  @starting-style {
    transform: translateX(100%);
    filter: blur(6px);
  }
}

#hero-heading {
  transform: scale(1);
  opacity: 1;
  filter: blur(0px);
  transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.4s;


  @starting-style {
    transform: scale(1.8);
    opacity: 0;
    filter: blur(2px);
  }
}

#hero-cta {
  transform: scale(1);
  opacity: 1;
  filter: blur(0px);
  transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.4s;

  @starting-style {
    transform: scale(1.8);
    opacity: 0;
    filter: blur(2px);
  }
}